//VARIABLE//
@import "./utilities/reset";
@import "./utilities/colours";

//SECCIONES//
@import "./sections/header";
@import "./sections/index-body";
@import "./sections/obras-body";
@import "./sections/servicios-body";
@import "./sections/contacto-body";
@import "./sections/footer";
@import "./sections/copyright";
@import "./sections/quienes-somos-body";














/* MEDIA Q*/
@media (max-width: 425px) {

    /* Servicios */
    .servicios {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 120vh;
    }

    /* Index */

    .panel-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

    }

    .parrafo-incio {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        text-align: left;
    }

    .personal {
        width: 95vw;
    }

    .reconocimientos {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    /* Obras y proyectos */
    .proyectos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

    .obras {
        width: 65vw;
        margin: 10px;
    }

    /* Footer */
    .footer {
        flex-direction: column;
    }

    .footer-1 {
        width: 50vw;
        padding: 10px;
        margin: 5px;
    }

    .footer-2 {
        width: 50vw;
    }

    .contacto-f {
        text-align: center;
    }

    .copyright a {
        width: 23vw;
    }
}