.section-c {
    display: flex;
    justify-content: space-around;
    align-items: center;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 2%;
        height: 40vh;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10vh;

            img {
                width: 2vw;
            }
        }
    }

    .mapa {
        margin: 2%;
        @extend .filtro-gris;
        max-width: 60vw;
        height: 45vh;
    }
}

.seccion-form {
    height: auto;
    margin: 4%;
    padding: 2%;
    background-color: $gris-claro;

    form {
        max-width: 35vw;
    }
}


@media (max-width: 425px) {
    .section-c {
        display: flex;
        flex-direction: column;

        article {
            div {
                img {
                    width: 50px;
                }

                p {
                    font-size: large;
                }
            }
        }

        .mapa {
            max-width: 85%;
        }
    }

    .seccion-form {
        form {
            max-width: 87vw;
        }
    }
}