.integrantes {
    margin: 3%;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 125vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "staff-1 staff-2"
        "staff-3 staff-4"
        "staff-5 staff-6";

    article {
        background-color: $gris-claro;
        display: flex;
        width: 42vw;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20vw;
        }

        div {
            text-align: left;
            max-width: 20vw;
            margin: 3%;
        }
    }
}

.vision {
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: auto;
    overflow: hidden;
    background-color: $gris-claro;

    article {
        margin: 10px;
        width: 30%;

        p {
            font-size: large;
            text-align: justify;
        }
    }

    img {
        width: 60%;
        @extend .filtro-gris;
    }

}

