.integrantes {
    margin: 3%;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 1500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "staff-1 staff-2"
        "staff-3 staff-4"
        "staff-5 staff-6";

    article {
        background-color: $gris-claro;
        display: flex;
        width: 42vw;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20vw;
            margin-right: 2px;
            @extend .shadow;
        }

        div {
            text-align: left;
            max-width: 20vw;
            margin: 3%;

            h6 {
                font-size: larger;
            }
        }
    }
}

.vision {
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    overflow: hidden;
    background-color: $gris-claro;

    article {
        margin: 10px;
        width: 30%;

        p {
            font-size: large;
            text-align: justify;
        }
    }

    img {
        width: 60%;
        @extend .filtro-gris;
    }

}



@media (max-width: 1024px) {
    .integrantes {
        display: flex;
        flex-direction: column;
        height: auto;

        article {
            display: flex;
            width: 70%;
            justify-content: space-around;
            align-items: center;

            div {
                max-width: 50%;
            }
        }
    }

    .vision {
        display: flex;
        flex-direction: column;
        height: auto;

        article {
            width: 65%;
            text-align: center;

            p {
                text-align: center;
            }
        }
        img{
            width: 65%;
        }
    }
}



@media (max-width: 425px) {
    .integrantes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: auto;

        article {
            width: 400px;
            display: flex;
            flex-direction: column;

            img {
                width: 75%;
            }

            div {
                display: flex;
                flex-direction: column;
                max-width: 85%;
                text-align: center;
            }
        }
    }

    .vision {
        display: flex;
        flex-direction: column;
        height: auto;

        article {
            width: 85%;
            text-align: center;
            margin: 5px;
        }

        img {
            width: 85%;
        }
    }
}