.servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;

    figure {
        background-color: rgba(65, 63, 63, 0.247);
        @extend .shadow-mayor;

        img {
            width: 25rem;
        }

        figcaption {
            text-align: center;
            background-color: black;
        }
    }
}

.servicios2 {
    height: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__articulo1 {
        @extend .detalle-servicio;
    }

    &__articulo2 {
        @extend .detalle-servicio2;
    }

    &__articulo3 {
        @extend .detalle-servicio;
    }

    &__parrafo {
        width: 30%;
        text-align: justify;
    }

    &__foto {
        height: 300px;
        @extend .shadow;

    }
}



//MEDIA Q//
@media (max-width: 1024px) {

    .servicios {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 1000px;



    }

    .servicios2 {

        &__articulo1 {
            display: flex;
            flex-direction: column;
        }

        &__articulo2 {
            display: flex;
            flex-direction: column;
        }

        &__articulo3 {
            display: flex;
            flex-direction: column;
        }

        &__parrafo {
            width: 70%;
            text-align: center;

        }

        &__foto {
            width: auto;
        }


    }
}


@media (max-width: 768px) {

    .servicios {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 1000px;
    }

    .servicios2 {

        &__articulo1 {
            display: flex;
            flex-direction: column;
        }

        &__articulo2 {
            display: flex;
            flex-direction: column;
        }

        &__articulo3 {
            display: flex;
            flex-direction: column;
        }

        &__parrafo {
            width: auto;
            text-align: center;
        }

        &__foto {
            width: 80%;
        }


    }
}