.servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;

    figure {
        background-color: rgba(65, 63, 63, 0.247);
        @extend .shadow-mayor;
        img {

            width: 450px;
        }

        figcaption {
            text-align: center;
            background-color: black;
        }
    }
}


@media (max-width: 425px) {

    .servicios {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 1000px;

        a {
            display: flex;
            justify-content: center;

            article {
                width: 85%;
                max-height: 350px;
            }
        }
    }
}